.form {
  width: 400px;
  padding: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.field {
  font: inherit;
  padding: 4px;
}
.button {
  margin: auto;
  width: 110px;
}
.errorMessage {
  margin-top: 0;
  color: red;
}
